.dropdawn{
    display: none;
}
body{
    background-color: darkslategray;
    margin: 0;
}
.title{
    background-color: rgb(67,112,122);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    position: fixed;
    width: 100%;
    top: 0;
}
#t{
    background-color: darkslategray;
    text-decoration: none;
    color: white;
    margin: 20px;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    display: none;
}
.aside{
    background-color: rgb(67,112,122);
    width: 200px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    position: fixed;
}
.container{
    margin-top: 60px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.posts{
    width: calc(100% - 220px);
    display: flex;
    flex-direction: column;
    margin-left: 220px;
}
.posts a{
    color: white;
    margin: 20px;
    background-color: rgb(67,112,122);
    height: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media(max-width: 800px){
    .aside{
        display: none;
    }
    .posts{
        margin: 0;
        width: 100%;
    }
}
@media(max-width: 500px){
    #t{
        display: none;
    }
    label{
        display: flex;
        background-color: darkslategray;
        text-decoration: none;
        color: white;
        border-radius: 7px;
        height: 30px;
        width: 30px;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }
    .dropdawn{
        display: none;
        flex-direction: column;
        margin-top: 100px;
        gap: 2px;
        background-color: rgb(67,112,122);
    }
    .dropdawn a{
        text-decoration: none;
        color: white;
        background-color: darkslategray;
        border-radius: 7px;
    }
    .container{
        margin-top: 100px;
    }
    label:hover .dropdawn{
        display: flex;
    }
}